<!DOCTYPE html>
<html data-ng-app="myApp" lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Club | Meal Plan App</title>
    <link rel="shortcut icon" href="/app/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/css/creative.css" rel="stylesheet">
    <link href="/app/css/style.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-controller="appCtrl">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">The Club | Meal Plan App</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding: 12px 20px">
                    <button style="padding: 10px 15px" class="btn btn-md btn-primary">Sign In</button>
                    <!--<a class="page-scroll">Login</a>-->
                </li>
                <!--<li>-->
                    <!--<a class="page-scroll" href="#services">Services</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="page-scroll" href="#portfolio">Portfolio</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a class="page-scroll" href="#contact">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="/app/images/icon_black.png" style="height: 40vh"></h1>
            <h3>Lose weight the healthy way with The Club's exclusive nutrition meal planner
            <p>Get access to your personalized meal plans from a certified nutritionist!</h3>
            <div class="btn-group">
                <a href="#about" class="btn btn-primary btn-xl page-scroll" style="background: #666">Find Out More</a>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Sign In</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading" style="font-weight: 600">Bring Nutrition to You!</h2>
                <hr class="light">
                <div class="col-lg-6 col-md-12">
                    <p class="text-faded text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor posuere dolor ut condimentum. Donec consequat mi quam, quis dictum leo dignissim id. Maecenas at elit nisi. Etiam ac lobortis nisl. Donec gravida eros vitae iaculis tristique. Fusce ut pretium quam. Nulla libero erat, mattis non leo id, lobortis molestie augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec magna vulputate metus imperdiet cursus ac pharetra nunc. Integer congue arcu vel risus sodales, quis gravida leo iaculis. Curabitur lobortis augue sed augue efficitur posuere.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12">
                    <p class="text-faded text-left">Ut fringilla semper magna eu laoreet. Sed nec auctor dolor. Proin interdum sit amet enim non mollis. Mauris ornare faucibus ligula, nec imperdiet tellus iaculis gravida. Suspendisse dui lorem, imperdiet et nisi eget, feugiat finibus diam. Fusce pulvinar dui suscipit tellus elementum, eget malesuada eros vestibulum. Donec id urna at ligula hendrerit semper sed sit amet massa. Integer posuere, mi nec porttitor venenatis, est nisi volutpat sem, ac laoreet nibh eros ac libero. Sed et augue nisl. Pellentesque eu ante sit amet lacus fringilla molestie nec in ante. Nam sit amet faucibus velit. Sed ut lectus risus. Etiam condimentum eros id felis sodales mollis.</p>
                </div>
                <a href="mailto:example@example.com" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<!--<section id="services">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12 text-center">-->
                <!--<h2 class="section-heading">At Your Service</h2>-->
                <!--<hr class="primary">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<i class="fa fa-4x fa-diamond text-primary sr-icons"></i>-->
                    <!--<h3>Sturdy Templates</h3>-->
                    <!--<p class="text-muted">Our templates are updated regularly so they don't break.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>-->
                    <!--<h3>Ready to Ship</h3>-->
                    <!--<p class="text-muted">You can use this theme as is, or you can make changes!</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>-->
                    <!--<h3>Up to Date</h3>-->
                    <!--<p class="text-muted">We update dependencies to keep things fresh.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-6 text-center">-->
                <!--<div class="service-box">-->
                    <!--<i class="fa fa-4x fa-heart text-primary sr-icons"></i>-->
                    <!--<h3>Made with Love</h3>-->
                    <!--<p class="text-muted">You have to make your websites with love these days!</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<!--<aside class="bg-dark">-->
    <!--<div class="container text-center">-->
        <!--<div class="call-to-action">-->
            <!--<h2>Free Download at Start Bootstrap!</h2>-->
            <!--<a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</aside>-->

<!--<section id="contact">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                <!--<h2 class="section-heading">Let's Get In Touch!</h2>-->
                <!--<hr class="primary">-->
                <!--<p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-lg-offset-2 text-center">-->
                <!--<i class="fa fa-phone fa-3x sr-contact"></i>-->
                <!--<p>123-456-6789</p>-->
            <!--</div>-->
            <!--<div class="col-lg-4 text-center">-->
                <!--<i class="fa fa-envelope-o fa-3x sr-contact"></i>-->
                <!--<p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<footer style="text-transform: uppercase; font-size: .8em;">   
    &copy; {{today | date:'yyyy'}} ksc4130
</footer>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/vendor/moment/min/moment.min.js"></script>
<script src="/app/app.js"></script>
</body>
</html>