<section id="foodForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                <form class="form-horizontal" ng-submit="addFood()" style="font-weight: 500">
                    <h3 class="text-center">Food Nutritional Information</h3>
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Food Name</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="text" ng-model="food.name" placeholder="Chicken">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ounces / Cups</label>
                        <div class="col-sm-9">
                            <select class="input-lg form-control form-group" ng-model="food.servingType">
                                <option value="" disabled>Select Serving Type</option>
                                <option value="oz">Oz</option>
                                <option value="cups">Cups</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Serving Size</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="number" ng-model="food.size">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Calories</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="number" ng-model="food.calories">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Fat</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="number" ng-model="food.fat">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Carbs</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="number" ng-model="food.carbs">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Protein</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="number" ng-model="food.protein">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Fiber</label>
                        <div class="col-sm-9">
                            <input class="input-lg form-control form-group" type="number" ng-model="food.fiber">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-xl pull-right" value="Add">
                </form>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <img src="../app/images/icon_white.png" style="width: 10vh"><br><br>
            <h2>Feel Better. Live Better.</h2>
        </div>
    </div>
</aside>