<div>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Feel Better. Live Better.</h2>
                <img src="../app/images/icon_barbell.png" style="width: 10vh">
            </div>
        </div>
    </aside>


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2 class="section-heading" style="font-weight: 600">Bring Nutrition to You!</h2>
                    <hr class="light">
                    <div class="col-lg-6 col-md-12">
                        <p class="text-faded text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor posuere dolor ut condimentum. Donec consequat mi quam, quis dictum leo dignissim id. Maecenas at elit nisi. Etiam ac lobortis nisl. Donec gravida eros vitae iaculis tristique. Fusce ut pretium quam. Nulla libero erat, mattis non leo id, lobortis molestie augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec magna vulputate metus imperdiet cursus ac pharetra nunc. Integer congue arcu vel risus sodales, quis gravida leo iaculis. Curabitur lobortis augue sed augue efficitur posuere.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <p class="text-faded text-left">Ut fringilla semper magna eu laoreet. Sed nec auctor dolor. Proin interdum sit amet enim non mollis. Mauris ornare faucibus ligula, nec imperdiet tellus iaculis gravida. Suspendisse dui lorem, imperdiet et nisi eget, feugiat finibus diam. Fusce pulvinar dui suscipit tellus elementum, eget malesuada eros vestibulum. Donec id urna at ligula hendrerit semper sed sit amet massa. Integer posuere, mi nec porttitor venenatis, est nisi volutpat sem, ac laoreet nibh eros ac libero. Sed et augue nisl. Pellentesque eu ante sit amet lacus fringilla molestie nec in ante. Nam sit amet faucibus velit. Sed ut lectus risus. Etiam condimentum eros id felis sodales mollis.</p>
                    </div>
                    <a href="mailto:example@example.com" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
</div>